<div class="wrapper">
  <div class="upper-content">
    <div class="container">
      <div class="text-container">
        <p class="about-text">
          Zombie Tourneys was created to provide a competitive environment to a non-competitive community.
        </p>
        <p class="about-text">
          This is a project led by one single person with the goal in mind to create a competitive community within Zombie Tourneys.
        </p>
        <p class="about-text">
          Zombie Tourneys is the only Call of Duty Zombies tournament website to date.
        </p>
      </div>
    </div>
  </div>
</div>
