<div class="wrapper">
  <div class="content">
    <div class="container text-align">
      <p class="header">
        There's no way back
      </p>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()">

            <mat-form-field>
              <input matInput type="text" placeholder="username" formControlName="username">

              <mat-error *ngIf="username.touched && username.invalid" class="has-text-danger">
                Username needs to have minimum 4 characters and maximum 12 characters
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="email" formControlName="email">

              <mat-error *ngIf="email.invalid && email.touched" class="has-text-danger">
                Please enter a valid email
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="password" formControlName="password">

              <mat-error *ngIf="password.invalid && password.touched" class="has-text-danger">
                Password needs to have minimum 8 characters and maximum 12 characters
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="confirm password" formControlName="passwordConfirm">

              <mat-error *ngIf="password.value !== passwordConfirm.value" class="has-text-danger">
                Passwords are not the same
              </mat-error>
            </mat-form-field>

            <div class="spinner-container">
              <mat-spinner *ngIf="authService.loading | async"> </mat-spinner>
              <p class="title" *ngIf="authService.success | async">
                Success!
              </p>
              <p class="title" style="color: var(--color-3)" *ngIf="authService.usedEmail | async">
                Email is already in use!
              </p>
              <p class="title" style="color: var(--color-3)" *ngIf="authService.duplicateUsername | async">
                Username is already in use!
              </p>
            </div>

            <button class="submit-button" type="submit" mat-raised-button [disabled]=form.invalid> Register </button>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
