.wrapper {
  background: var(--color-1);
  height: calc(100% - 66px);
}

.upper-content {
  background: url(../../../assets/zombies_06_compressed.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}
.faq-container{
  padding-top: 100px;
}
